# Binaries for programs and plugins
cloudreve
*.exe
*.exe~
*.dll
*.so
*.dylib
*.db
*.bin
/release/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Development enviroment
.idea/*
uploads/*
temp

# Version control
version.lock

# Config file
*.ini
conf/conf.ini
/statik/
.vscode/
