{include file="header" /}


        <!--Video-->
        <div class="intro-video view" id="home">
            

           
            <div class="hm-gradient">
                <div class="full-bg-img flex-center">
                    <div class="container smooth-scroll">
                        <div class="row">
                            <div class="col-md-12 white-text text-center smooth-scroll">
                                <div class="fadeInDown" data-wow-delay="0.2s">
                                    <h3 class="brand-name font-bold white-text mb-2">开始云上之旅</h3>
                                    <hr class="hr-light">
                                    <h4 class="subtext-header mt-2 mb-2">只需十秒钟，注册后即可开始使用免费高速的云存储服务</h4>
                                </div>
                                <a href="/Login" class="btn btn-rounded btn-light-green-2" ><i class="fa fa-paper-plane-o"></i> 注册</a>
                                <a href="/Home" class="btn btn-rounded btn-light-green-2" ><i class="fa fa-sign-in"></i> 登录</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/Video-->

    </header>

        <!--/.Content-->
    </div>
</div>


    <!-- JQuery -->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>



    <script>
      
    

    </script>
    
</body>

</html>