{extend name="header_public" /}
{block name="title"}错误提示 - {$options.siteName}{/block}
{block name="content"}
<link rel="stylesheet" href="/static/css/error.css" />
</head>
<body data-ma-header="teal">

<div class="container" align="center">
<header align="left">
<br>
<img src="/static/img/logo_s.png" style="width:192px;">
</header>
    <div class="error_content" >
        <div class="jumbotron animated bounce" style="padding-left:30px;">
            <h1>发生错误</h1>
            <br>
            <p>  {$msg}</p>
            <p><a class="btn btn-primary btn-lg" onclick="history.go(-1);"><< 返回</a></p>
        </div>
    </div>
</div>
{$options.js_code}
</body>
{/block}