<div class="navbar-header">
                        <div >
            <a class="navbar-brand waves-light" href="/">
                
            </a>
</div>
                        
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav navbar-right">
                             {eq name="$loginStatus" value="1"}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle avatar-a waves-light" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="/Member/Avatar/{$userData.id}/s" class="img-circle avatar-s"> {$userData.user_nick} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Home">我的文件</a></li>
                                    <li><a href="/Profile/{$userData.id}">个人主页</a></li>
                                    <li><a href="/Member/Setting">设置</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/Member/LogOut">退出登录</a></li>
                                </ul>
                            </li>
                            {else/}
                            <li >
                                <a href="/Login" class="dropdown-toggle waves-light" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user mr-1"></i> 登录/注册 </a>
                               
                            </li>
                            {/eq}
                            
                        </ul>
                        </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </div>
                </nav>