{extend name="header_admin" /}
{block name="title"}基础设置- {$options.siteName}{/block}
{block name="content"}
<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/Admin">管理面板</a>
      </li>
      <li class="breadcrumb-item active">设置</li>
      <li class="breadcrumb-item active">基础设置</li>
    </ol>
    
    <!-- Area Chart Example-->
    <div class="row">
      <div class="col-12">
        <h2>基础设置</h2>
        <br>
        <form id="basicOptionsForm">
          <div class="row form-setting">
            <div class="col-md-1 form-label ">
              <label for="colFormLabelSm" class="col-form-label col-form-label-sm">站点主标题</label>
            </div>
            <div class="col-md-4"> <input type="text" class="form-control" name="siteName" value="{$options.siteName}"></div>
            <div class="col-md-4 option-des"> 站点的主标题，将会展示在个页面的标题尾部、邮件中。</div>
          </div>
          <div class="row form-setting">
            <div class="col-md-1 form-label ">
              <label for="colFormLabelSm" class="col-form-label col-form-label-sm">站点副标题</label>
            </div>
            <div class="col-md-4"> <input type="text" class="form-control" name="siteTitle" value="{$options.siteTitle}"></div>
            <div class="col-md-4 option-des"> 只会展示在首页的副标题。</div>
          </div>
          <div class="row form-setting">
            <div class="col-md-1 form-label ">
              <label for="colFormLabelSm" class="col-form-label col-form-label-sm">站点URL</label>
            </div>
            <div class="col-md-4"> <input type="text" class="form-control" name="siteURL" value="{$options.siteURL}" spellcheck="false"></div>
            <div class="col-md-4 option-des"> 站点的URL，此设置很重要，请如实填写，否则会影响系统正常工作.</div>
          </div>
          <div class="row form-setting">
            <div class="col-md-1 form-label ">
              <label for="colFormLabelSm" class="col-form-label col-form-label-sm">站点关键词</label>
            </div>
            <div class="col-md-4"> <input type="text" class="form-control" name="siteKeywords" value="{$options.siteKeywords}"></div>
            <div class="col-md-4 option-des"> 位于首页meta标签内的站点关键词</div>
          </div>
          <div class="row form-setting">
            <div class="col-md-1 form-label ">
              <label for="colFormLabelSm" class="col-form-label col-form-label-sm">站点描述</label>
            </div>
            <div class="col-md-4"> <input type="text" class="form-control" name="siteDes" value="{$options.siteDes}"></div>
            <div class="col-md-4 option-des"> 位于首页meta标签内的站点描述</div>
          </div>
          <div class="row form-setting">
            <div class="col-md-1 form-label ">
              <label for="colFormLabelSm" class="col-form-label col-form-label-sm">页脚代码</label>
            </div>
            <div class="col-md-4"> <textarea class="form-control" name="js_code" rows="4" spellcheck="false">{$options.js_code}</textarea></div>
            <div class="col-md-4 option-des"> 位于前台页面底部的页脚代码，你可以在此放置统计代码。</div>
          </div>
          <div class="row form-setting">
            <div class="col-md-1 form-label ">
            </div>
            <div class="col-md-4"> <button type="button" class="btn btn-primary" id="saveBasic">保存设置</button></div>
            <div class="col-md-4 option-des"> </div>
            <br> <br>
          </div>
        </form>
      </div>
    </div>
    
    <!-- Example DataTables Card-->
  </div>
  <!-- /.container-fluid-->
</div>
{/block}
{block name="js"}
<script src="/static/js/admin/setting.js"></script>
<script type="text/javascript">
</script>
{/block}