{extend name="header_admin" /}
{block name="title"}基础设置- {$options.siteName}{/block}
{block name="content"}
<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/Admin">管理面板</a>
      </li>
      <li class="breadcrumb-item active">模板</li>
    </ol>
    
    <!-- Area Chart Example-->
    <div class="row">
      <div class="col-12">
        <h2>编辑模板</h2>
          application/index/view/{:rtrim($path,"/")}/{$name}.html
          <br> <br>
        <div class="row">
        <div class="col-md-9">
          <input type="text" id="fileName" value="{$name}" style="display: none">
            <textarea rows="15" class="form-control" spellcheck="false" style="    font-family: 'Courier New';">{:htmlspecialchars($content)}</textarea>
            <br>
            <button class="btn btn-primary" id="saveTheme">保存</button>
            <br><br>
          </div>
          <div class="col-md-3">
          <div class="file_side">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            {volist name="list" id="file"}
              <a class="nav-link" id="v-pills-home-tab" href="/Admin/Theme/name/{:str_replace(".html","",$file)}" role="tab" data-name="{:str_replace(".html","",$file)}">{$file}</a>
            {/volist}
            </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    <!-- Example DataTables Card-->
  </div>
  <!-- /.container-fluid-->
</div>
{/block}
{block name="js"}
<script src="/static/js/admin/config.js"></script>
<script type="text/javascript">
</script>
{/block}