{extend name="header_public" /}
{block name="title"}登录- {$options.siteName}{/block}
{block name="content"}
   <link rel="stylesheet" href="/static/css/login.css" />
   	<link rel="stylesheet" href="/static/css/photoswipe.css"> 
	<link rel="stylesheet" href="/static/css/default-skin/default-skin.css"> 
        <script src="/static/js/jquery.color.js"></script>
    </head>
    <body data-ma-header="teal">


        <nav class="navbar navbar-inverse" >
            <div class="container-fluid">
                <div class="container" >
{include file="navbar_public" loginStatus=$loginStatus userData=$userData /}
                <div class="header-panel shadow-z-2">
                    <div class="container-fluid">
                        <div class="row">
                            
                        </div>
                    </div>
                </div>
                <div class="container main" >
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="jumbotron" id="logForm">
                            <div class="card_top">
                                <div class="row top-color">
                                    <div class="card-top-row">
                                     <div class="login-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
                                     <div class="login-text">登录后方可享用精彩内容</div>
                                        </div>
                                    </div>
                                </div>
                          
                                <div class="card_botom">
                                <div class="row bottom-width">
                                <form id="loginForm">
                                    <div class="form-group  label-floating">
                                    <label class="control-label" for="inputEmail">Email 电子邮箱</label>
                                    <input type="text" class="form-control" id="inputEmail" name="userMail">
                                    </div>
                                    <div class="form-group  label-floating">
                                    <label class="control-label" for="inputPwd">密码</label>
                                    <input type="password" class="form-control" id="inputPwd" name="userPass">
                                    </div>
                                    {eq name="$RegOptions.login_captcha" value="1"}

                                    <div class="input-group form-group label-floating">
                                    <label class="control-label" for="captcha">验证码</label>
                                        <input type="text" id="captcha" class="form-control" name="captchaCode">
                                                  <span class="input-group-btn">
                                                      <div class="captcha_img">{:captcha_img()}</div>
                                                  </span>
                                   </div>
                                    
                                    {else/}
                                    {/eq}

                                </form> <button class="btn btn-raised btn-primary waves-light" id="loginButton">登录</button>
                                 <div class="link-group">
                                <a href="javascript:void" class="noWave" id="create" data-change="true">创建一个账户</a><br>
                                <a href="javascript:void" class="noWave" id="forgetSwitch2" data-change="true">忘记密码？</a>
                                </div>
                                </div>
                            </div>
                            </div>
                            
                            
 <div class="jumbotron" id="regForm" style="display: none;">
                            <div class="card_top">
                                <div class="row top-color">
                                    <div class="card-top-row">
                                     <div class="login-icon"><i class="fa fa-sign-in" aria-hidden="true"></i></div>
                                     <div class="login-text">注册账户</div>
                                        </div>
                                    </div>
                                </div>
                          
                                <div class="card_botom">
                                <div class="row bottom-width">
                                <form id="registerForm">
                                    <div class="form-group  label-floating">
                                    <label class="control-label" for="inputEmail">Email 电子邮箱</label>
                                    <input type="text" class="form-control" id="inputEmail" name="username-reg">
                                    </div>
                                    <div class="form-group  label-floating">
                                    <label class="control-label" for="inputPwd">密码</label>
                                    <input type="password" class="form-control" id="inputPwd" name="password-reg">
                                    </div>
                                    <div class="form-group  label-floating">
                                    <label class="control-label" for="inputPwd">重复密码</label>
                                    <input type="password" class="form-control" id="inputPwd" name="password-check">
                                    </div>
                                    {eq name="$RegOptions.reg_captcha" value="1"}

                                    <div class="input-group form-group label-floating">
                                    <label class="control-label" for="captcha">验证码</label>
                                        <input type="text" id="captcha" class="form-control" name="captchaCode">
                                                  <span class="input-group-btn">
                                                      <div class="captcha_img">{:captcha_img()}</div>
                                                  </span>
                                   </div>
                                    
                                    {else/}
                                    {/eq}

                                </form> <button class="btn btn-raised btn-primary waves-light" id="regButton">注册</button> <div class="link-group">
                                <a href="javascript:void" class="noWave" id="loginSwitch3" data-change="true">已有账号？立即登录</a><br>
                                <a href="javascript:void" class="noWave" id="forgetSwitch" data-change="true">忘记密码？</a>
                                </div>
                                </div>
                            </div>
                            </div>


                             <div class="jumbotron" id="emailCheck" style="display: none;">
                            <div class="card_top">
                                <div class="row top-color">
                                    <div class="card-top-row">
                                     <div class="login-icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                     <div class="login-text">激活账户</div>
                                        </div>
                                    </div>
                                </div>
                          
                                <div class="card_botom">
                                <div class="row bottom-width"><br>
                                我们已经向您的注册邮箱发送了一封确认邮件，请访问邮件中的激活链接以完成注册。如果未收到邮件，请检查您的垃圾邮件。<br><br>如果还仍无法接受邮件，请尝试更换注册邮箱或联系站点管理员。
                                </div>
                            </div>
                            </div>


 <div class="jumbotron" id="forgetForm" style="display: none;">
                            <div class="card_top">
                                <div class="row top-color">
                                    <div class="card-top-row">
                                     <div class="login-icon"><i class="fa fa-question-circle-o" aria-hidden="true"></i></div>
                                     <div class="login-text">找回密码</div>
                                        </div>
                                    </div>
                                </div>
                          
                                <div class="card_botom">
                                <div class="row bottom-width">
                                <form id="forgetPwdForm">

                                    <div class="form-group  label-floating">
                                    <label class="control-label" for="inputEmail">请填写注册时绑定的邮箱</label>
                                    <input type="text" class="form-control" id="regEmail" name="regEmail">
                                    </div>
                                    {eq name="$RegOptions.forget_captcha" value="1"}

                                    <div class="input-group form-group label-floating">
                                    <label class="control-label" for="captcha">验证码</label>
                                        <input type="text" id="captcha" class="form-control" name="captchaCode">
                                                  <span class="input-group-btn">
                                                      <div class="captcha_img">{:captcha_img()}</div>
                                                  </span>
                                   </div>
                                    
                                    {else/}
                                    {/eq}

                                </form> <button class="btn btn-raised btn-primary waves-light" id="findMyFuckingPwd">找回密码</button> <div class="link-group">
                                <a href="javascript:void" class="noWave" id="loginSwitch2" data-change="true">返回登录</a><br>
                                </div>
                                </div>
                            </div>
                            </div>

                        </div></div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </body>

            <script type="text/javascript">
        

            </script>
            <script src="/static/js/login.js"> </script>
            {$options.js_code}
            {/block}