{extend name="header_public" /}
{block name="title"}密码重置- {$options.siteName}{/block}
{block name="content"}
   <link rel="stylesheet" href="/static/css/login.css" />
   	<link rel="stylesheet" href="/static/css/photoswipe.css"> 
	<link rel="stylesheet" href="/static/css/default-skin/default-skin.css"> 
        <script src="/static/js/jquery.color.js"></script>
    </head>
    <body data-ma-header="teal">


        <nav class="navbar navbar-inverse" >
            <div class="container-fluid">
                <div class="container" >
{include file="navbar_public" loginStatus=$loginStatus userData=$userData /}
                <div class="header-panel shadow-z-2">
                    <div class="container-fluid">
                        <div class="row">
                            
                        </div>
                    </div>
                </div>
                <div class="container main" >
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="jumbotron" >
                            <div class="card_top">
                                <div class="row top-color">
                                    <div class="card-top-row">
                                     <div class="login-icon"><i class="fa fa-id-card-o" aria-hidden="true"></i></div>
                                     <div class="login-text">密码重置</div>
                                        </div>
                                    </div>
                                </div>
                          
                                <div class="card_botom">
                                <div class="row bottom-width">
                                <form id="resetForm">
                                     <div class="form-group  label-floating">
                                    <label class="control-label" for="inputPwd">请输入新密码</label>
                                    <input type="password" class="form-control" id="inputPwd" name="password-reg">
                                    </div>
                                    <div class="form-group  label-floating">
                                    <label class="control-label" for="inputPwd">重复密码</label>
                                    <input type="password" class="form-control" id="inputPwd" name="password-check">
                                    </div>
                           <input type="text" style="display:none" class="form-control" id="resetKey" name="key" value="{$key}">
                           

                                </form> <button class="btn btn-raised btn-primary" id="regButton">重设密码</button> 
                            
                                </div>
                                </div>
                            </div>
                            </div>
                            
                            
                        </div></div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </body>

            <script type="text/javascript">
        

            </script>
            <script src="/static/js/reset.js"> </script>
            {$options.js_code}
            {/block}