{extend name="header_public" /}
{block name="title"}两步验证- {$options.siteName}{/block}
{block name="content"}
   <link rel="stylesheet" href="/static/css/login.css" />
   	<link rel="stylesheet" href="/static/css/photoswipe.css"> 
	<link rel="stylesheet" href="/static/css/default-skin/default-skin.css"> 
        <script src="/static/js/jquery.color.js"></script>
    </head>
    <body data-ma-header="teal">


        <nav class="navbar navbar-inverse" >
            <div class="container-fluid">
                <div class="container" >
{include file="navbar_public" loginStatus=$loginStatus userData=$userData /}
                <div class="header-panel shadow-z-2">
                    <div class="container-fluid">
                        <div class="row">
                            
                        </div>
                    </div>
                </div>
                <div class="container main" >
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="jumbotron" >
                            <div class="card_top">
                                <div class="row top-color">
                                    <div class="card-top-row">
                                     <div class="login-icon"><i class="fa fa-lock" aria-hidden="true"></i></div>
                                     <div class="login-text">由于您开启了两步验证，请输入您的两步验证APP上显示的验证码</div>
                                        </div>
                                    </div>
                                </div>
                          
                                <div class="card_botom">
                                <div class="row bottom-width">
                                <form id="loginForm">
                                    <div class="form-group  label-floating">
                                    <label class="control-label" for="inputEmail">验证码</label>
                                    <input type="text" class="form-control" id="inputEmail" name="code">
                                    </div>
                           
                           

                                </form> <button class="btn btn-raised btn-primary" id="loginButton">继续登录</button> 
                                <br>如果您丢失了两步验证秘钥，请联系站点管理员核验身份后取消二步验证。
                                </div>
                                </div>
                            </div>
                            </div>
                            
                            
                        </div></div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </body>

            <script type="text/javascript">
        

            </script>
            <script src="/static/js/two_step.js"> </script>
            {$options.js_code}
            {/block}